.search-page {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.search-form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #344E41;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #213227;
}

.search-results ul {
    list-style: none;
    padding: 0;
}

.search-results li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #344E41;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}